.btn {
    display: inline-block;
    text-align: center;
    margin-bottom: 45px;
    padding: 13px 48px;
    text-transform: capitalize;
    text-decoration: none;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
}

.main .body-btn {
    background-color: #000;
    color: #fff;
    margin-bottom: 75px;
}