.nav-bar {
    width: 100%;
    height: 100px;
    background-color: #74c69d;
    display: block;
    padding: 20px;
}

.header-nav a {
    color: #fff;
}
.header-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: var(--main-bg);
}

.header-nav li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
}

.header-nav .logo {
    width: 150px;
    height: auto;
    text-decoration: none;
    float: left;
}

/* NAV Menu */

.header-nav .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

/* NAV Menu Icon */

.header-nav .menu-icon {
    cursor: pointer;
    display: block;
    float: right;
    padding: 28px 5px;
    position: relative;
    user-select: none;
}

.header-nav .menu-icon .nav-icon {
    background: #fff;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
}

.header-nav .menu-icon .nav-icon:before,
.header-nav .menu-icon .nav-icon:after {
    background: #fff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
}

.header-nav .menu-icon .nav-icon:before {
    top: 5px;
}

.header-nav .menu-icon .nav-icon:after {
    top: -5px;
}

/* NAV Menu Button */

.header-nav .menu-btn {
    display: none;
}

.header-nav .menu-btn:checked ~ .menu {
    max-height: 240px;
    position: absolute;
    z-index: 0;
}

.header-nav .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
}

.header-nav .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
}

.header-nav .menu-btn:checked ~ .menu-icon:not(.steps) .nav-icon:before,
.header-nav .menu-btn:checked ~ .menu-icon:not(.steps) .nav-icon:after {
    top: 0;
}


@media (min-width: 768px) {
    .header-nav li {
        float: left;
    }
    .header-nav li a {
        padding: 20px 10px;
    }
    .header-nav .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .header-nav .menu-icon {
        display: none;
    }
}